body {
    background-color: whitesmoke
}

.homeStyle {
    text-align: center;
    color: black;
}

.cards {
    padding: 20px;
    margin: 15px;
    width: 200px;
    background-color: white;
    color: black;
    box-shadow: 2px 5px 5px black
    
}


.cards ul {
    list-style-type:none
}

.catalogo {
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}



.counter {
    padding: 20px;
    margin: 15px;
    display: flex;
    justify-content: baseline;

}

.button {
    width: 20px;
    margin: 8px;
    background-color: white;
}

.cartButton {
    margin: 8px;
    background-color: white;
}

.listaPag {
    list-style-type: none;
    display: block;
    text-align: center;
    padding: 5%;
    
}

.listaPag a {
    text-decoration: none;
    color: black;

}

.cardsTitle {
    color: black;
}

