body {
    background-color: whitesmoke
}
.cards {
    padding: 20px;
    margin: 15px;
    width: 200px;
    background-color: white;
    color: black;
    box-shadow: 2px 5px 5px black
    
}


.cards ul {
    list-style-type:none
}

.catalogo {
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}



.counter {
    padding: 20px;
    margin: 15px;
    display: flex;
    justify-content: baseline;

}

.button {
    width: 20px;
    margin: 8px;
    background-color: white;
}

