
.nav {
    
   
    padding: 15px;
    background-color: rgb(37, 172, 37);
    color: whitesmoke;
    
  }

  .lista {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }

  .lista li a {
    text-decoration: none;
    color: whitesmoke;
  }
 